DELETE FROM comments 
WHERE user_id NOT IN (
  '${USER_ID_1}',
  '${USER_ID_2}',
  '${USER_ID_3}'
);

DELETE FROM likes 
WHERE user_id NOT IN (
  '${USER_ID_1}',
  '${USER_ID_2}',
  '${USER_ID_3}'
);

DELETE FROM images 
WHERE user_id NOT IN (
  '${USER_ID_1}',
  '${USER_ID_2}',
  '${USER_ID_3}'
);

DELETE FROM users 
WHERE user_id NOT IN (
  '${USER_ID_1}',
  '${USER_ID_2}',
  '${USER_ID_3}'
); 